
*{padding: 0px;
  margin: 0px;
}
html, body {
     height: 100%;
}
.nodisplay { display:none }

@font-face {
     font-family: "OpenSans-Regular";
     src: url("OpenSans-Regular.ttf")

}
body{
	   background-position: center center;
	   background-repeat: no-repeat;
	   background-attachment: fixed;
	   background-size: cover;
       background-color: #F5F5F5;
       display: flex;
       flex-direction: column;}
header{
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 40px;
        background: #778899;

	   }
.falsh{
        height: 50px;
        width: 100px;
}
.top-menu li{
        display: inline-block;
}

.top-menu a{
      list-style: none;
      display: inline-block;
      text-decoration:none;
      color:black;
      font-size: 15px;
      padding: 11px;
      margin-top: 0;
      background:#778899;
      transition: .1s linear;

}
.top-menu li:before{content:"|"}
.exit {
        margin-left:83%;
}
.top-menu a:hover{
        background:#80C8A0;

}
.top-menu ul ul {
			    display: none;
			    position: absolute;
			    top: 100%;
                margin-left: -100px;
			}
.top-menu ul li:hover > ul {
			    display:inherit;
			}
.top-menu ul ul li {

                list-style: none;
			    float:none;
			    display:list-item;
			    position: relative;
			}
.top-menu ul ul li a {
    min-width: 150px;
}
.content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top:3px;
        flex: 1 0 auto;
}
.footer {
        flex-shrink: 0;
        min-height: 30px;
}
.footer_data {
        background: black;
        color: white;
        min-height: 200px;
}

#commentform{
    margin-top: 30px;
}
.autor_name {
    width: 300px;
    height: 30px;
}


/*.lectcover {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
    background: white;
}*/
/*Блок новостей*/
        /*Лекции*/
		.article {
			margin: 10px;
			display: block;
			width: 100%;
			min-height:100px;
            background: white;
			border: 1px solid rgba(0,0,0,0.5);
            font-family: "OpenSans-Regular", serif;
        }
		.article div {
			margin: 5px;
		}
		.art_title {
			min-height: 20px;
			width: 100%;
		}
		.art_content {
			min-height: 80px;
		}
		.art_footer {
			height: 20px;
		}
		.art_data li {
			list-style: none;
			display: inline-block;
			min-width: 100px;
		}
        .content_body {
            display: flex;
            width: 100%;
        }
        .art_list {
            width: 80%;
            margin-right: 10px;
        }
        .nodata {
            margin-top: 10px;
            width: 100%;
            height: 400px;
            background: #0E2231;
        }
        /*Поиск*/
        #seach {
            display: flex;
            height: 40px;
        }
        .seach {
            height: 100%;
            width: 95%;
        }
        .sb {
            width: 5%;
            height: 110%;
        }
        /*Категории*/
        sidebar{
            width: 20%;
            height: 100%;
            color: black;
        }
        .lect_nam{
            width: 90%;
        }
        .lect_num {
            margin-right: 0;
            background: #2F4F4F;
            color: #F5F5F5;
            width: 10%;
            height: 2em;
            line-height: 2em;
            text-align: center;
            vertical-align: center;
}

        .disc{
            margin: 10px;
            overflow:hidden;
            background: #F5F5F5;
        }
        .disc a {
            width: auto;
            height: 2em;
            line-height: 2em;
            margin-bottom: 5px;
            border: 1px solid black;
            background:#ffffff;
            display: flex;
            text-decoration:none;
            color: black;
        }
        a.active, .disc a:hover {
            background: lightslategrey;
            color: white;
        }
        a div {
            display: inline-block;
        }
.pages {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.pages li {
    display: inline-block;
}
a.pages_num {
    justify-content:center;
    align-items:center;
    text-decoration: none;
    color: black;
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
a.pages_num:hover,.active_page {
    background: lightslategrey;
    color: #F5F5F5;
}


.shelude_list{
  display: flex;
}
a.shellink_ch  {
    display: block;
    margin: 2px;
    width: 100px;
    color: white;
    text-decoration: none;
    background: lightslategrey;
}
a.shellink{
    display: block;
    min-width: 200px;
    max-width: 250px;
    margin: 2px;
    color: white;
    background: lightslategrey;
    text-decoration: none;
}
.cover{
    display: flex;
    direction: initial;
    height: 100%;
}
.editor{
    width: 80%;

}

.sidebar{
    width: 20%;
    height: 100%;
    color: black;
    background: #0E2231;


}
.sidebar a {
    text-decoration: none;
    color: white;
}
.lect_list li {
    margin-left: 30px;
    margin-bottom: 30px;
}
.lect_edit{
    width: 100%;
    height: 30px;
}
.editor-menu{
    width: 100%;
    height: 40px;
    background: lightslategrey;
    border-bottom: 2px solid black;
}
.editor-menu ul {
    display: flex;
    list-style-type: none;
}
.editor-menu a {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: black;

}
.editor-menu a:hover{
    background: #80C8A0;
    border-bottom: 2px solid red;
}
.django-ckeditor-widget { width: 100%; }



.logon{
    width:auto;
    background: #D3D3D3;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
     padding-left:10%;
    height:100%;

}.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;}

 .logon_form{
    width:450px;
    height:50px;
    padding: 5px;
    margin:10px;
    border-radius:0px;
    font-family: news;
    border:1px solid #2F4F4F;
}
.log_form {
    margin-top: 50%;
}
.validate {
    width: 448px;
    height: 7px;
    background: white;

    border:1px solid #2F4F4F;
    margin-top: -9px;
    margin-left: 10px;
}
.progress {
    height: 100%;
    width: 50%;
    background: #0E2231;
}
.req {
    width: 600px;
    height: 30px;
}
.group {
    width: 100%;
    height: 30px;
    margin-top: 30px;
     margin-bottom: 30px;
}
.info {
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
}
.noteform {
    width: 100%;
    height: 100px;
    resize: none;
}
.notebtn {
    margin-top: 10px;
    width: 100%;
    height: 30px;
}

.students_table {
    border-collapse: collapse;
    width:100%
}
.students_table td {
    width: auto;
}
.students_table th {
    background: #0E2231;
    color: #F5F5F5;
}
.groups summary{
    width: 100%;
    height: 30px;
    background: #5b80b2;
    border: 1px solid black;
}

/*Расписание*/

.shelude {
    border-collapse: collapse;
    margin-left: -1px;
    margin-top: -1px;
    text-align:center;
}
.shelude td {
    width: 200px;
    height: 40px;
    background: antiquewhite;
}

td.nn {
    background: aquamarine;
}
.shell_cont{
    display: flex;
}
.shel_head {
    border-collapse:collapse ;
    border: 1px solid black;
}
.shel_head td{
    width: 200px;
}

.shelude_days {
     border-collapse: collapse;
    margin-top: -1px;
}
.shelude_days td:first-child {
     border-collapse: collapse;
    width: 200px;
    height: 40px;
    background: #778899;
    color: #F5F5F5;
    border-top: 1px solid black;

}
[data-tooltip] {
    position: relative;
    white-space: pre-line;/* Относительное позиционирование */
   }
   [data-tooltip]::after {
    opacity: 0;

   content: attr(data-tooltip);
    position: absolute;
    left: 20%; top: 30%;
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
   }
   [data-tooltip]:hover::after {
    opacity: 1;
   }
   .article-full{


   }
   .art_cover{
       width: 100%;
       height: 200px;
        background: #2F4F4F;
       display: flex;
       align-items: flex-end;
        flex: 1 0 auto;

   }
   .art_cover_title{
       width: 100%;
       height: 50%;
       background: rgba(220, 220, 220, 0.7);

   }
   .sb {
       width: 300px;
       height: 40px;
   }
   #comment {
       width: 100%;
       height: 100px;
       resize: none;
   }
