{% extends 'main/base.html' %}
{% block Title %}
    Редактор расписаний
{% endblock %}

{% block Content %}
{% for data in Shelude %}
    <ul>
        <li class="shelude_list"><a href="{{ data.id }}" class="shellink">{{ data.Group }}  {{ data.Day }}</a> <a href="{{ data.id }}" class="shellink_ch">Редактировать</a><a href="{% url 'editor:shelude_del' data.id %}" class="shellink_ch">Удалить</a></li>
    </ul>
{% endfor %}

    <form method="post">
    {% csrf_token %}
    {{ SheludeForm.as_p }}
    <button type="submit">Опубликовать</button>
    </form>

{% endblock %}