{% load main_extras %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block Title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
</head>
<body>
    <header>
          <div class="top-menu">
              <ul >
                  <li><a href="{% url 'main:home' %}">Главная</a></li>
                  <li><a href="{% url 'main:lections' %}">Лекции</a></li>
                  <li><a href="{% url 'main:shelude' %}">Расписание</a></li>
                  <li><a href="{% url 'main:about' %}">Контакты</a></li>
                  {% if  request.user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Админпанель</a></li>
                  {% endif %}
                  {% if request.user.is_anonymous %}
                      <li><a href="{% url 'accounts:register' %}">Регистрация</a></li>
                      <li><a href="{% url 'accounts:signup' %}">Войти</a></li>
                  {% endif %}
                  {% if request.user.is_authenticated %}
                    <li><a href="{% url 'main:request' %}">Запросить лекцию</a></li>
                    <li><a href="{% url 'accounts:account_profile'%}">Профиль</a></li>
                      {% if request.user|has_group:"лох" %}
                            <li><a href="{% url 'editor:editor' %}">Редактор</a></li>
                      {% endif %}
                      {% if request.user|has_group:"лох" %}
                            <li><a href="{% url 'editor:shelude' %}">Редактор расписаний</a></li>
                      {% endif %}
                    <li><a href="{% url 'accounts:Logout' %}">Выйти</a></li>
                  {% endif %}


              </ul>
          </div>
    </header>
    <div class="falsh"><br><br><br></div>
<div class="content">
{% block Content %}{% endblock %}
</div>
<footer class="footer">
   <ul class="pages">

    {% for page_num in page_obj.paginator.page_range %}

       <li><a href="?page={{ page_num }}" class="pages_num
               {% if page_num == currect_page %}
                    active_page
               {% endif %}
       "><span>{{ page_num }}</span></a></li>
    {% endfor %}
    </ul>
    </div>
    <div class = "footer_data">
        <div></div>
        <div>
            © 2021 Все права защищены.
        </div>
    </div>
</footer>
</body>
</html>