{% extends 'main/base.html' %}
{% load main_extras %}

{% block Title %}
    Лекции
    {% if Discipline_name %}
        : {{ Discipline_name.name }}
    {% endif %}

{% endblock %}


{% block Content %}
    <style>
        .content {width: 98%;}
    </style>




    {{ Seach_q }}
<wprapper>
<div>
    <form action="{% url 'main:seach' %}" method="post" id="seach">
        {% csrf_token %}
        {{ Seach }}<button type="submit" class="sb">Найти</button>


    </form>
</div>
    <div class="content_body">

    <div class="art_list">
        {% if not page_obj %}
            <div class="nodata">

            </div>
        {% endif %}
        {% for el in page_obj.object_list %}
             <article class="article">
                <div class="art_title">
                    <b>Заголовок:</b> <a href="{% url 'main:Curr_lecture' lecture_id=el.id %}"><span class="art_title">{{ el.title }}</span></a>
                </div>
                <div class="art_content">
                    <hr>
                        {{ el.text|safe|truncatewords:100 }}
                </div>
                <div class="art_footer">
                    <hr>
                    <ul class="art_data">
                        <li><b>Автор: </b> {{ el.User }}</li>
                        <li><b>Дисциплина: </b> {{ el.discipline }}</li>
                    </ul>
                </div>
            </article>
        {% endfor %}
    </div>
        <sidebar>
        <div class="disc">
        <ul>
            {% for disc in Disciplines %}
               <li><a href="/lections/category/{{ disc.id }}" class = "
                    {% if disc.id == Descipline_id %}
                          active
                    {% endif %}                                                 "
               ><div class="lect_nam">{{ disc.name }}</div>    <div class="lect_num"> {{ disc|lecture_coll:disc.id }}</div></a>
               </li>
            {% endfor %}
        </ul>
        </div>
    </sidebar>
    </div>
</wprapper>


{% endblock %}